---
layout: default
---
{% include landing-intro.html %}

<main>

<section class="blog-cards">
  {% for post in site.posts %}
  {% if post.path contains 'qachef' %}

  <section class="blog-card">
    <a class="blog-card__link" href="{{ post.url | relative_url }}">
      <img class="blog-card__featured" src="/assets/images/featured/{{post.featured-image }}" alt="{{ post.featured-alt }}">
    <p class="blog-card__date">{{ post.date | date_to_string }}</p>
    <h2 class="blog-card__title">{{ post.title }}</h2>
    </a>
  </section>

  {% endif %}
  {% endfor %}
</section>

</main>
