---
layout: default
---

{% include landing-intro1.html %}

<main>


<!--p class="page-intro">These 200 articles mark the end of my live developer journal experiment, where I wrote raw articles documenting the technical (and sometimes non-technical) things I learned as I learned them.</p-->


<section class="all-posts">
  {% for post in site.posts %}
  {% if post.path contains 'essentialistdev' %}
  {% assign month = post.date | date: "%m" %}
  {% if month != activeMonth %}
  {% unless forloop.first %}
  </ul>
  {% endunless %}
  <p class="all-posts__month">{{ post.date | date: "%B %Y" }}</p>
  <ul class="post-list">
    {% assign activeMonth = month %}
    {% endif %}
    <li class="post-list__post"
        tabindex="0">
      <a class="post-list__post__link"
         href="{{ post.url | relative_url }}">
        <span class="post-list__post__date">
          {{ post.date | date: "%d" }}
        </span>
        {{ post.title }}
      </a>
    </li>
    {% if forloop.last %}</ul>{% endif %}
    {% endif %}
  {% endfor %}
  </ul>
</section>

</main>

