<footer class="footer">
  <a href="https://twitter.com/Becca9941" target="_blank" class="footer__twitter"><img class="footer__twitter-icon" src="{{ '/assets/images/twitter.svg' | relative_url }}" alt="Twitter" title="@Becca9941 on Twitter"></a>
  <p class="footer__author">Website by <a class="footer__author__link" href="https://twitter.com/Becca9941" target="_blank" rel="noopener">Becca Williams</a></p>
  <p class="footer__copyright">All content copyright 2018-present, <br>EssentialistDev</p>
</footer>

