<nav class="nav">
  <ul class="nav__pages">
    {% for nav in site.data.navigation %}
    <li><a class="nav__pages__page-link {% if nav.url == page.url %}active{%endif%}" href="{{nav.url}}">{{ nav.text }}</a></li>
    <li><a href="https://twitter.com/Becca9941" target="_blank" class="nav__pages__page-link"><img class="nav__pages__page-link--twitter-icon" src="{{ '/assets/images/twitter.svg' | relative_url }}" alt="Twitter" title="@Becca9941 on Twitter"></a></li>
  {% endfor %}
  </ul>
</nav>
