<section class="landing-intro">
  <a href="{{ '/' | relative_url }}" class="landing-intro__link">
    <img class="landing-intro__logo" src="{{ '/assets/images/logo.svg' | relative_url }}" alt="Home">
    <h2 class="landing-intro__tagline">A Live Developer Journal</h2>
  </a>
</section>
