<!-- pagination -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}" class="pagination__previous">&laquo; Prev</a>
  {% else %}
    <span class="pagination__previous">&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="pagination__page pagination__page--active">{{ page }}</span>
    {% elsif page == 1 %}
    <a href="{{ '/' | relative_url }}" class="pagination__page">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | replace: ':num', page | relative_url }}" class="pagination__page">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}" class="pagination__next">Next &raquo;</a>
  {% else %}
    <span class="pagination__previous">Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
