.page-intro {
  box-sizing: border-box;
  display: block;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 1rem;
  padding: .5rem 1rem;
  border-radius: .3rem;
  background-color: color($bw-color-info, 97);
  border: solid 1px color($bw-color-info, 30);
  color: color($bw-color-info, 30);
}
