.blog-cards {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.blog-card {
  width: 300px;
  text-align: center;
  margin: 1.2rem;
  &__link {
    text-decoration: none;
    cursor: pointer;
    &:hover {
      opacity: .9;
    }
  }
  &__featured {
    width: 300px;
    height: 450px;
  }
  &__date {
    font-size: .8rem;
    color: color($bw-color-accent, 40);
  }
  &__title {
    font-family: 'Elsie', cursive;
    font-size: 1.5rem;
    color: color($bw-color-gray, 15);
    text-transform: capitalize;
  }
}
