.footer {
  color: white;
  text-align: center;
  padding: 3rem 0;
  clip-path: polygon(0% 15%, 15% 15%, 50% 0, 50% 0, 85% 15%, 100% 15%, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 0% 85%);
background-color: #fc4a6e;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%23ff6f8c' fill-opacity='0.4'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  margin-top: 2rem;
  &__twitter {
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
    &-icon {
      width: 2rem;
      &:hover { opacity: .8; }
    }
  }
  &__author {
    @extend .bw-typography--body2;
    margin: 2rem;
    &__link {
      color: color($bw-color-accent, 50);
      font-weight: 500;
      letter-spacing: .1rem;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        text-decoration-style: wavy;
        text-decoration-thickness: .05rem;
        text-decoration-color: color($bw-color-accent, 50);
      }
    }
  }
  &__copyright {
    @extend .bw-typography--caption;
    opacity: .8;
  }
}
