.nav {
  margin-top: -1rem;
  line-height: 2rem;
  background-color: #fce47c;
background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffd41a' fill-opacity='0.4' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
  &__pages {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &__page-link {
      display: inline-block;
      margin-right: 1rem;
      text-decoration: none;
      color: color($bw-color-gray, 30);
      &:hover,&.active {
        text-decoration: underline;
        text-decoration-style: wavy;
        text-decoration-thickness: .05rem;
        text-decoration-color: color($bw-color-gray, 30);
      }
      &--twitter-icon {
        margin-bottom: -.2rem;
      }
    }
  }
}
