.landing-intro {
  text-align: center;
  margin: 3rem 0;
  &__link {
    text-decoration: none;
  }
  &__logo {
    width: 13rem;
  }
  &__tagline {
    text-transform: capitalize;
    letter-spacing: .1rem;
    margin-left: .3rem;
    font-size: .8rem;
    font-family: 'Roboto';
    margin-top: .1rem;
    font-weight: 400;
    color: #182857;
  }
}

