<p>For the first time, I'm going to start seriously learning a JavaScript framework. I've stuck with vanilla JavaScript so far because I didn't want to split my energy between a lot of different things that are based on JavaScript, before having a solid foundation on JavaScript itself. I'm also learning this now because it was recommended by a few cool developers I met over the last couple of weeks.</p>

<p>Before diving in, I wanted to think about my approach to learning, and plan for success. I want to make sure that I'm being deliberate. That I'm not just reading or trying out things aimlessly. So, I'll brainstorm my ideas for learning and outline a roadmap from there.</p>

<ul>
  <li>I could go to <a href="https://answerthepublic.com/" target="_blank">Answer The Public</a> and type in "React" to see what kind of things people search for using React as a keyword. I'm thinking this will help me get an overview of what people are actually trying to <em>do</em> with it day to day.</li>
  <li>Go to the main <a href="https://reactjs.org/" target="_blank">React documentation</a> site and quickly have a look at the structure of their documentation. What are the main sections, what guides/tutorials/setup instructions do they have. I'm thinking this will help me get an overview of the main concepts, and the things that are critical to building a small scale project etcr</li>
  <li>I could look at <a href="https://stackoverflow.com/questions/tagged/reactjs" target="_blank">questions tagged with React on Stack Overflow</a>. I could apply 'newest', 'most votes' and 'most frequent' filters to get an overview of the most common things people need help with (that might not be answered in the docs based on the fact it's being asked in the first place)</li>
  <li>Look on YouTube to see if there are any "React fundementals", or "What I wish I knew about React" videos.</li>
  <li>Look for books written on React and scan the table of contents to see what the common topics are.</li>
  <li>Research "strengths and weaknesses of React" kinds of articles to get a birdseye view of what to expect.</li>
</ul>

<p>My first goal is to explore react just enough that I can figure out what are the core things that are worth expending energy on, following the 80/20 rule where 20% of your effort creates 80% of the results. The 20% core stuff is what I'm interested in.</p>

<p>Once I know that, I'll be in a better position to start setting micro goals. I don't want to be spending a ton of time reading up on concepts that I'm just going to forget as soon as I've finished with them (or a week later). So I want to tinker with stuff as much as possible so I understand the concepts on a more intuitive level.</p>

<p>This is going to be so much fun!</p>
