---
categories: art
---

<p>Yesterday, I decided that <a href="{% post_url 2020-09-03-i-have-to-learn-illustration %}">I HAVE to learn illustration</a>. More specifically, I want to learn how to create digital painting-style illustrations. I've never done this before, so I'm spending some time exploring videos and articles to pick up on some things.</p>

<p>Below, I'll keep a running list of tips I think are cool. After that will be a list of resources I've come across that I have found especially helpful, because that's the first question I want to ask every artist I know.</p>

<ul>
  <li>Flat color, then blending, then detailing.</li>
  <li>Change the background of your canvas to a pure gray (50% black, 50% gray), so your finished artwork appears balanced on all background shades.</li>
  <li>Divide your artwork into segments and use different layers for each. Some examples have been foreground, midground and background, or skin, hair, clothes etc, or sketch, block colors, shadows, light and details etc.</li>
  <li>Keep a reference collection for inspiration.</li>
  <li>Write a list of things you want to appear in your art. Have a bunch of napkin canvases to try out different placement concepts. The main purpose of this is to establish scale.</li>
  <li>Use focal point lines.</li>
  <li>Learn about the kind of problems artists solve in their artwork.</li>
  <li>Draw the same thing, every single day, for a year.</li>
</ul>

<h2>Resources I've found helpful</h2>

<ul>
  <li><a href="https://juliannakunstler.com/art1.php" target="_blank">Elements of Art and Fundementals of Art exercises (Start here!)</a></li>
  <li><a href="https://www.youtube.com/watch?v=AKXkTDSvb1k&list=PLfZKSEMcBg3WLcxY5nbNMB4K2rqG6c9cv&index=5" target="_blank">Illustration Master Course: Landscapes and environments</a></li>
  <li><a href="https://design.tutsplus.com/tutorials/7-exercises-to-improve-your-digital-painting-skills--cms-25133" target="_blank">7 exercises to improve your digital painting skills.</a></li>
  <li><a href="https://monikazagrobelna.com/2020/02/10/drawing-101-how-to-draw-proportions/" target="_blank">How to draw proportions (wowwww)</a></li>
  <!--li><a href="" target="_blank"></a></li-->
  <li><a href="https://www.youtube.com/user/TylerE2284/videos" target="_blank">Tyler Edlin's YouTube Channel</a></li>
  <li><a href="https://www.youtube.com/watch?v=vtt1ycq2rVI" target="_blank">Advice for people who feel like their art isn't unique</a></li>
  <li><a href="https://www.youtube.com/watch?v=M6NsEDwHHiE&t=489s" target="_blank">The drawing advice that changed my life</a></li>
  <li><a href="http://theetheringtonbrothers.blogspot.com/p/every-how-to-think-when-you-draw.html" target="_blank">Every how to think when you draw</a></li>
  <!--li><a href="" target="_blank"></a></li>
  <li><a href="" target="_blank"></a></li>
  <li><a href="" target="_blank"></a></li>
  <li><a href="" target="_blank"></a></li>
  <li><a href="" target="_blank"></a></li>
  <li><a href="" target="_blank"></a></li>
  <li><a href="" target="_blank"></a></li>
  <li><a href="" target="_blank"></a></li-->
</ul>
