---
categories: art
---

<p>After doing some of the <a href="https://drawabox.com" target="_blank">Drawabox exercises</a> I realised just how powerful they are. They help you build muscle memory and develop good habits like drawing from the shoulder as much as possible instead of from the elbow and wrist.</p>

<p>Most of the exercises were inspired by a book called <a href="https://www.bookdepository.com/How-Draw-Scott-Robertson/9781781166864" target="_blank">How to draw: drawing and sketching objects and environments from your imagination</a>.</p>

<p>I want to get really grounded in all of the basic exercises, so I'm going to focus mostly on doing these, whilst also practicing using the techniques in practice wherever possible.</p>

<p>Here are some practice sheets from today:</p>

<h2>Superimposed Lines</h2>

<p>In this exercise, we draw a bunch of straight lines with a ruler on a page, and also a bunch of curved flowy lines. Then, we go over each line 8 times free-hand. The goal is to start and stop in the right places, and to try and get as close as possible to the original lines.</p>

<h2>Point to point</h2>

<p>In this exercise, we draw two dots on the page, which we call point a and point b. Our task is to draw a straight line to connect the dots. Before we draw a line, we ghost the movement. So we pretend to draw the lines until we feel like we've got the right angle, then we draw it for real.</p>

<p>To goal in this one is to be able to draw straight lines in a single stroke. We ghost the lines to build up muscle memory. We turn the page so that we are always only drawing the straight line from one angle. The most important thing to do though, is to draw primarily from the shoulder (no wrist and as little elbow joint movement as possible).</p>
<img src="{{'/assets/images/digital-paintings/2020-09-07-line-practice.jpg' | relative_url }}" alt="line practice sheets">

<h2>Snowflakes</h2>

<p>In this exercise, our aim is to draw a snowflake freehand, using the skills we learned in the previous exercises. The aim is to get all of the straight lines to intersect in the center.</p>

<h2>Parallel lines</h2>

<p>In this exercise, we draw a straight line at the top of a page with a ruler. Then, we try and draw straight lines one after the other beneath the previous line. The goal is to keep the lines parallel and equally spaced. I found this easier when I incorporated ghosting and the point to point method.</p>

<img src="{{'/assets/images/digital-paintings/2020-09-07-line-practice2.jpg' | relative_url }}" alt="line practice sheets">

