---
categories: art
---

<img src="{{ '/assets/images/digital-paintings/2020-09-05-line-repetition-exercises.png' | relative_url }}" alt="three line-drawing square attempts, increasing in precision.">

<p>This is one of the awesome exercises from an <a href="https://juliannakunstler.com/art1.php" target="_blank">elements of visual design and design principles</a> exercise site. Huge amount of fun.</p>
