---
categories: art
---

<img src="{{ '/assets/images/digital-paintings/2020-09-06-cat-mug.png' | relative_url }}" alt="white cat mug on a soft blue background">

<p>This is my favourite tea mug. I had fun sketching this with the tablet. I think it looks cute. I'm finding it hard not to say "I know it's crap and I can't do line art or color properly etc etc". I can draw pretty easily without being blocked by that, it's just the sharing it publicly on a blog post that people probably won't even read that's teh problem.</p>

<p>Before the cat mug, I filled up 2 A4 printer pages with straight lines and squiggles. Then went over each of them with a fineliner 8 times. It's an exercise from <a href="https://drawabox.com/lesson/1/superimposedlines" target="_blank">Drawabox: art fundamental exercises</a>. Here are a few of the tips and tricks learned from it:</p>

<ul>
  <li>Draw from the shoulder joint for greater range of motion. Try and lock wrist and elbow so only movement is coming from the shoulder.</li>
  <li>Pay attention to where you start and stop your lines. No frayed ropes.</li>
  <li>Don't go too slowly to try and be accurate. Your brain will continuously try to course correct in zigzags and lines will become wobbly. Go at a good, flowy pace.</li>
  <li>Do the exercise once and move on. Don't try doing it again and again until you perfect it, that's a waste of time. Just keep bringing what you learn forward.</li>
</ul>
