---
categories: art
---

<p>Oh my golly gosh I'm so happy. I just finished all of the assignments for <a href="https://drawabox.com/lesson/1" target="_blank">Drawabox Lesson 1: Lines, Ellipses and Boxes</a></p>

<p>I made a little ebook of all of my <a href="{{ '/assets/files/2020-09-10-drawabox-lesson-1.pdf' | relative_url }}">drawbox lesson 1 assignments</a>. I made it because while I can't draw properly yet, I wanted to celebrate the effort that went into doing these challenges, and it'll be fun to revisit down the line.</p>

<a href="{{ '/assets/files/2020-09-10-drawabox-lesson-1.pdf' | relative_url }}"><img src="{{ '/assets/images/drawabox-front-cover.png' | relative_url }}" alt="Drawabox lesson 1 ebook cover"></a>

<p>I drew everything on cheap paper with a fineliner (as recommended on the course). To convert it into an ebook, I did the following:</p>

<ul>
  <li>I used the <a href="https://play.google.com/store/apps/details?id=com.simplescan.scanner&hl=en_AU" target="_blank">Simple Scanner App</a> to scan the page with my phone camera.</li>
  <li>Then I used <a href="https://affinity.serif.com/en-us/designer/" target="_blank">Affinity Designer</a> to remove the background of the sketch (click on the sketch, then click on the cog icon in the layer panel. Then in the "Source Layer Ranges Panel", drag the right node down so the line goes from being straight to a diagonal from top left to bottom right.</li>
  <li>Finally, I used an ebook template on <a href="https://www.canva.com/" target="_blank">Canva</a> to create a little ebook of them all.</li>
</ul>
