---
title: Five Pillars of the AWS Well-Architected Framework
---

<p>The <a href="https://aws.amazon.com/architecture/well-architected/?e=gs2020&p=fundcore&wa-lens-whitepapers.sort-by=item.additionalFields.sortDate&wa-lens-whitepapers.sort-order=desc" target="_blank">AWS Well-Architected Framework</a> helps cloud architects build secure, high-performing, resilient and efficient <em>infrastructure</em> for their applications and workloads.</p>

<p>The five pillars are Operational Excellence, Security, Reliability, Performance Efficiency and Cost-Optimization.</p>

<h2>Operational Excellence (automation)</h2>

<ul>
  <li>Automate processes and tools through config files.</li>
  <li>Identify metrics that align with business goals.</li>
  <li>Analyze metrics (statistics, custom queries/reports).</li>
  <li>Actions (trigger alarms, create dashboard, make data-driven product decisions).</li>
</ul>

<h2>Security (zero trust)</h2>

<h3>Identify and Access Management (IAM)</h3>

<p>The IAM permission model enforces access boundaries. Every agent should only have the minimal permissions necessary to accomplish their function.</p>

<p>There are three fundamental components to an IAM policy:</p>

<ul>
  <li><strong>Principals:</strong> specifies WHO permissions are given to (identity-based policy).</li>
  <li><strong>Actions:</strong> specifies WHAT is being performed.</li>
  <li><strong>Resources:</strong> specifies WHICH properties are being accessed (resource-based policy).</li>
</ul>

<h3>Network Security</h3>

<p>Amazon Virtual Private Cloud (VPC) is a core AWS network that we can define and provision resources into. Here are some of the components that make up the VPC:</p>

<ul>
  <li><strong>Subnets:</strong> A range of IP addresses within our VPC.</li>
  <li><strong>Route tables:</strong> A set of rules that determine where traffic is directed.</li>
  <li><strong>Internet Gateway:</strong> A component that allows communication between resources inside our VCP and the internet.</li>
</ul>

<p>To safeguard traffic in our VCPs, we can:</p>

<ul>
  <li>Divide our resources into public-facing resources and internal resources.</li>
  <li>Use a proxy service like the application load balancer to handle all internet-facing traffic (reduces the attack surface).</li>
  <li>Provision internal surfaces like servers and databases inside internal subnets that are cut off from direct public internet access.</li>
  <li>Use the AWS Web Application Firewall (WAF) to further restrict traffic into our network.</li>
</ul>

<h3>Resource Level Security</h3>

<p>Individual AWS resources have configurable network security contols. The most common control is known as <strong>security group</strong>. We can use security groups to only allow traffic from specific ports and trusted resources.</p>

<h3>Data Encryption</h3>

<p>Data encryption is the process of encoding information in such a way that it is unintelligible to any third party that does not possess the key necessary to decypher the data. Adopting a zero trust model for data means encrypting our data everywhere, both in transit nad at rest.</p>

<ul>
  <li>Encryption in transit involves encryting the data as it travels between systems. E.g. We can use the Application Load Balancer (ALB) to enforce a connection over HTTPS to our endpoints.</li>
  <li>Encryption at Rest involves encrypting the data within systems. Most storage and database services integrate directly with the Amazon Key Management Service (KMS) which lets us create Customer Managed Keys (CMK) to encrypt our data.</li>
</ul>


<h2>Reliability (blast radius)</h2>

<ul>
  <li>Use fault isolation zones to limit the blast radius. AWS has fault isolation zones at three levels: Resource and Request, Availability zone and Region.</li>
  <li>Resources and requests are partitions on a given dimension like the resource ID by AWS services. These partitions are called cells, which are designed to be independant and contain failures inside themselves.</li>
  <li>AWS availability zones are seperate facilities in different geographical locations, to protect against failure from environmental hazards such as fires and floods.</li>
  <li>Regions are autonomous data centers each two or more availability zones.</li>
  <li>Use limits. Soft limits which can be increased by requesting an increase from AWS, and hard limits that cannot be increased. Limits are constraints that can be applied to protect a service from excessive load. Monitor limits for services we're using and plan our limit increases accordingly to avoid service disruption.</li>
</ul>

<h2>Performance Efficiency (cattle, not pets)</h2>

<h3>Selection</h3>

<p>Selection is the ability to choose the service that most closely aligns with our workload. The typical workload usually requires selection across four main service categoires in AWS: Compute (service that processes data, like virtual machines), storage (static storage of data like an object store), database (organized storage of data like relational databases) and networks (how our data moves around, like a content delivery network).</p>

<ul>
  <li>Implementing a workload on AWS involves selecting services across the compute, storage, database and network categories.</li>
  <li>Within each category, we must select the right type of service based on our use-case.</li>
  <li>Within each type, we can select the specific service based on our desired degree of management.</li>
  <li>Within each service, we can select the specific configuration based on the specific performance charateristics we want to acheive.</li>
</ul>

<h3>Scaling</h3>

<p><strong>Vertical Scaling</strong> involves upgrading our underlying compute to a bigger instance type. For example, if we're running a t3.small instance, vertically scaling this instance might be upgrading it to a t3.large. Scaling vertically is simpler operationally but represents an availability risk and has lower limits.</p>

<p><strong>Horizontal Scaling</strong> involves increasing the number of underlying instances. For example, if we're running a t3.small instance, horizonally scaling this instance would involve provisioning two additional t3.small instances. Scaling horizontally requires more overhead but comes with much better reliability and much higher limits.</p>


<h2>Cost Optimization (pay as you go over one-time purchase)</h2>

<h3>Pay for use</h3>

<p>AWS services have a pay for use model where we only pay for the capacity that we use. For common ways to optimize our cloud spend when we pay for use are:</p>

<ol>
  <li>Right sizing: Picking the right instance size and family.</li>
  <li>Serverless: You only pay for what you use. When our case permits, choosing serverless can be the most cost-effective way of building our service.</li>
  <li>Reservations: Committing to paying for a certain amount of capacity in exchange for a significant discount.</li>
  <li>Spot instances: We can take advantage of unused capacity to run instances at a 90% discount, but capacity providers can reclaim the capacity at any moment.</li>
</ol>

<h3>Cost Optimization Lifecycle</h3>

<p>The cost optimization lifecycle is the continuous process of improving our cloud spend over item. It involves a three-step workflow:</p>

<ol>
  <li>Review: Before optimizing our cloud spend, we need to first understand where it's coming from. AWS Cost Explorer can help us visualize and review our cloud spend over time.</li>
  <li>Track: Once we have an overview of our overall cloud spend, we can start grouping it along dimensions that we care about (using cost allocation tags). Common tags categories: App ID, Business Unit, Resource Owner etc.</li>
  <li>Optimize: Optimize using "pay for use" techniques mentioned in the previous section.</li>
</ol>

