---
categories: art
---
<p>Continuing to work through <a href="https://drawabox.com" target="_blank">Drawabox exercises</a>.</p>

<h2>Ghosted Planes Exercise</h2>

<p>The snowflake exercise was from yesterday. In the ghosted planes exercise, we use the point to point method to draw the outline of the box, and to connect the inner diagonal corners to each other.</p>

<img src="{{'/assets/images/digital-paintings/2020-09-08-line-practice3.jpg' | relative_url }}" alt="line practice sheets">

<h2>Quick brick sketch</h2>

<p>I wanted to see if I could use the skills I have learned so far to sketch something real. Outside my window is a little brick wall that I thought would be a good candidate for practicing the outlines.</p>

<p>I started by drawing the box shape for the outline, then columns and rows to somewhat match the brick placement. It was pure joy drawing this without a ruler, and without it being shaky. After I sketched all the straight lines, I went back over to add a little more outline detail and a tiny bit of shadow. I stopped because learned that we can start with basic shapes, then add more and more detail, colour etc. I don't have those skills yet, but it's really cool seeing how immediately useful this line work stuff is!</p>

<img src="{{'/assets/images/digital-paintings/2020-09-08-brick-sketch.jpg' | relative_url }}" alt="line practice sheets">
