---
categories: art
---

<h2>Forest View</h2>

<img src="{{ '/assets/images/digital-paintings/2020-09-04-forest-tea.png' | relative_url }}" alt="silhouette of a woman drinking tea overlooking silhouette forest">

<p>My first digital painting woo woo! I learned how to use layers, draw with the tablet and create a smudgey sky. Struggling with accuracy for everything like linework, color blocking and general composition. I'm looking forward to recreating this in a couple of months to see the progress!</p>
