---
title: I HAVE to learn illustration
categories: art
---

<p>This is a <a href="https://dribbble.com/shots/11180781-K-A-M-U-I" target="_blank">Dribbble shot by Studio VØR</a>:</p>

<img src="{{ '/assets/images/studio-vor-design-kamui.png' | relative_url }}">

<p>Their web designs are so gorgeous that in the space of 5 seconds I decided i'm going to spend years of my life learning how to illustrate digitally (in addition to fabby dev stuff).</p>

<p>I have a <a href="https://www.wacom.com/en-cn/products/pen-tablets/wacom-intuos" target="_blank">Wacom Tablet</a> and a free trial of <a href="https://affinity.serif.com/en-us/designer/" target="_blank">Affinity Designer</a> (an alternative to Adobe Illustrator that an awesome friend recommended).</p>

<p>I'M SO EXCITED TO BE BAD AT THIS!</p>

<h2>Roadmap Plans</h2>

<p>When I opened the app, I spent far too long trying to pick an artboard size, because I got confused by all of the acronyms on each of the web artboard options. Though it turns out they're all the same, just that there are different names for different sizes of screen.</p>

<p>I wanted to get the <a href="https://affinity.serif.com/en-gb/designer/workbook/" target="_blank">official affinity designer workbook</a>, but they don't do it in a pdf/ebook version because of piracy concerns. That really bothers me because I don't like having hard copies of books unless they are from the library and I can give them back when they're done (unpopular opinion).</p>

<p>Looking at the app interface, it feels pretty familar, like <a href="https://www.sketch.com/" target="_blank">Sketch</a>. I have no idea what to do with any of it though. We'll, I'm pretty good at making user interface and web-designs, but I have no idea how do create anything that feels like real art.</p>

<p>My first thought was to go through each of the tools and explore them all one-by-one. Now though, I think I'm just going to search for some <a href="https://helpx.adobe.com/au/illustrator/tutorials.html" target="_blank">Adobe Illustrator tutorials</a>, because apparently the mapping between the two types of software is pretty similar.</p>

<p>I'm also thinking about setting some specific goals. I know that I want to create art that captures magical little moments, like rays of sunshine, dust motes dancing in the air, rippling water. I'm drawn to soft movement. Things that make you feel fully present, noticing the tiny things that take your breath away when you actually pay attention and feel a sense of being surrounded by magic.</p>

<p>Anywho, I just wanted to capture the moment I decided to start learning how to create digital art. I'm looking forward to documenting my progress as time goes on.</p>
