<p>Following the <a href="https://aws.amazon.com/getting-started/learning-path-front-end-developer/?e=gs2020&p=gsrc" target="_blank">Front-End Developer Learning Path on AWS</a>. I'm documenting everything I did to build this mini project. There's nothing original here.</p>

<blockquote>As a front-end developer, you build <strong>feature-rich</strong> web applications. You use popular front-end web frameworks (or vanilla JavaScript) to build the <strong>presentation layer</strong> of your app (the layout, positioning of text and images, colors, fonts, buttons etc). You also work with <strong>backend APIs</strong> and <strong>services</strong> to add interactivity to your web application.</blockquote>

<h2>Learning objectives:</h2>

<ul>
  <li>Build and host a React Application on the AWS Global content delivery network (CDN).</li>
  <li>Add authentication to your application to enable sign-in and sign-out.</li>
  <li>Add a GraphQL API, database, and storage solution to your application.</li>
</ul>

<h2>Prerequisites</h2>

<ul>
  <li>AWS account with admin-level access</li>
  <li>Node.js (v10 or later)</li>
  <li>Gitlab/Github account</li>
  <li>Git</li>
  <li>Text Editor (Vim in my case)</li>
</ul>

<h2>Host a React App</h2>

<h3>Create a React Application</h3>

<pre>
<code>
npx create-react-app amplifyapp
cd amplifyapp
npm start
</code>
</pre>

<h3>Initialize a Gitlab repository</h3>

<ul>
  <li>Create a new Gitlab or Githab repo for your app.</li>
  <li>Initialize git and push the app to the new repo with the following commands:</li>
</ul>

<pre>
<code>
git init
git remote add origin git@gitlab.com:username/reponame.git
git add .
git commit -m "start AWS practice React app."
git push origin master
</code>
</pre>

<h3>Deploy our app with AWS Amplify</h3>

<ul>
  <li>Open the <a href="https://console.aws.amazon.com/" target="_blank">AWS Management Console</a>, and login with your username and password.</li>
  <li>Type "Amplify" in the search bare and select <strong>AWS Amplify</strong> to open the service console.</li>
  <li>In the AWS Amplify service console, select "Get Started" under <strong>Deploy</strong>.</li>
  <li>Select Gitlab (or Github) as the repository service and select <strong>Continue</strong>.</li>
  <li>Authenticate with Gitlab (or Github) and return to the Amplify console. Choose the repository and master branch we created earlier, then select <strong>Next</strong>.</li>
  <li>Accept the default build settings and select <strong>Next</strong>.</li>
  <li>Review teh final details and select <strong>Save and Deploy</strong>. AWS Amplify will now build your source code and deploy your app att "https://...amplifyapp.com".</li>
  <li>Once the build completes, select the thumbnail to see your web app up and running live.</li>
</ul>

<h3>Automatically deploy code changes</h3>

<ul>
  <li>Edit <strong>src/App.js</strong> with the JavaScript code below and save.</li>
</ul>

<pre>
<code>
import React from 'react';
import logo from './logo.svg';
import './App.css';

function App() {
  return (
    &lt;div className="App"&gt;
      &lt;header className="App-header"&gt;
        &lt;img src={logo} className="App-logo" alt="logo" /&gt;
        &lt;h1&gt;Hello from V2&lt;/h1&gt;
      &lt;/header&gt;
    &lt;/div&gt;
  );
}

export default App;
</code>
</pre>

<ul>
  <li>Push the changes to Gitlab/Github in the terminal to automatically kick of a new build:</li>
</ul>

<pre>
<code>
git add .
git commit -m “changes for v2”
git push origin master
</code>
</pre>

<ul>
  <li>Once the build is complete, select the thumbnail on the AWS Amplify console to view your updated app.</li>
</ul>

<p>We have just deployed a React application in the AWS Cloud by integrating with Github and using AWS Amplify. With AWS Amplify, we can continuously deploy our application in the cloud and host it on a globally-available CDN.</p>

<h2>Initialize Local App</h2>

<p>Now that we have initialized a new Amplify project in our account, we want to bring it down into our local environment so we can continue deployment and add new features.</p>

<h3>Install the Amplify CLI</h3>

<blockquote>The Amplify Command Line Interface (CLI) is a unified toolchain to create AWS cloud services for your app, following a simple guided workflow (remove the `-g` flag if you don't want to install this globally on your system).</blockquote>

<code>npm install -g @aws-amplify/cli</code>

<h3>Configure the Amplify CLI</h3>

<blockquote>Amazon IAM (Identity and Access Management) enables you to manage users and user permissions in AWS. The CLI uses IAM to create and manage services programmatically on your behalf via the CLI.</blockquote>

<code>amplify configure</code>

<h3>Initialize the Amplify app</h3>

<p>Since we have already created an Amplify project, we can use the app config that has already been created.</p>

<ul>
  <li>In the Amplify console, click on <strong>Backend Environments</strong></li>
  <li>In the <strong>Backend Environments</strong> tab, copy the amplify init command to your keyboard.</li>
  <li>Initialize the Amplify project locally with the below commands:</li>
</ul>

<pre>
<code>
amplify init --appId your-app-id

? Enter a name for the project: amplifyapp
? Enter a name for the environment: dev
? Choose your default editor: Visual Studio Code
? Choose the type of app that youre building: javascript
? What javascript framework are you using: react
? Source Directory Path: src
? Distribution Directory Path: build
? Build Command:  npm run-script build
? Start Command: npm run-script start
? Do you want to use an AWS profile? Y
? Please choose the profile you want to use: your-aws-profile
</code>
</pre>

<p>We have now initialized the Amplify project and are now ready to start adding features (like the user authentication flow next). To view your Amplify project in the dashboard at any time, you can run the <code>amplify console</code> command.</p>

<h2>Add Authentication</h2>

<h3>Install the Amplify Libraries</h3>

<p>We need two Amplify libraries for our project. The main <strong>aws-amplify library</strong> contains all of the client-side APIs for interacting with the various AWS services we'll be working with. The <strong>@aws-amplify/ui-react library</strong> contains framework-specific UI components. Install these libraries in the root of the project.</p>

<code>npm install aws-amplify @aws-amplify/ui-react</code>


<h3>Create the authentication service</h3>

<p>Using the Amplify CLI we just installed:
<pre>
<code>
amplify add auth

? Do you want to use the default authentication and security configuration? Default configuration
? How do you want users to be able to sign in? Username
? Do you want to configure advanced settings? No, I am done.
</code>
</pre>

<h3>Deploy the authentication service</h3>

<p>Deploy by running the Amplify push command <code>amplify push --y</code></p>

<h3>Configure the React project with Amplify resources</h3>

<p>The CLI created and will continue to update a file called "aws-exports.js" located in the src directory of our project. We'll use this file to let the React project know about the different AWS resources that're available in our Amplify project.</p>

<p>Open <strong>src/index.js</strong> and add the following code below the last import:</p>

<pre>
<code>
import Amplify from 'aws-amplify';
import config from './aws-exports';
Amplify.configure(config);
</code>
</pre>

<h3>Add the authentication flow in App.js</h3>

<p>Open <strong>src/App.js</strong> and update with the following code:</p>

<pre>
<code>
import React from 'react';
import logo from './logo.svg';
import './App.css';
import { withAuthenticator, AmplifySignOut } from '@aws-amplify/ui-react'

function App() {
  return (
    &lt;div className="App"&lt;
      &lt;header&lt;

        &lt;img src={logo} className="App-logo" alt="logo" /&lt;

        &lt;h1&gt;We now have Auth!&lt;d/h1&lt;

      &lt;/header&lt;

      &lt;AmplifySignOut /&lt;

    &lt;/div*gt;
  );
}

export default withAuthenticator(App);
</code>
</pre>

<p>We've used the <strong>withAuthenticator</strong> component, which will scaffold out an entire user authentication flow allowing users to sign-up, sign-in, reset their password and comform sign in for multifactor authentication. We've also used the <strong>AmplifySignOut</strong> component which will render a Sign Out button.</p>

<h3>Run the app locally</h3>

<p>Run the app to see the new Authentication flow protecting the app: <code>npm start</code></p>

<h3>Deplay the changes to the live environment</h3>

<pre>
<code>
git add .
git commit -m “Add auth.”
git push origin master
</code>
</pre>


<h2>Add API and Database</h2>

<p>The API we will be creating is a GraphQL API that will allow users to create, delete, and list notes.</p>

<p class="info"><strong>API</strong> - Provides a programming interface that allows communication and interactions between multiple software intermediaries.</p>

<p class="info"><strong>GraphQL</strong> - A query language and server-side API implementation based on a typed representation of our application. This API representation is declared using a schema based on the GraphQL type system.</p>

<h3>Create a GraphQL API and database</h3>

<p>Add a GraphQL API to your app by running the following command from the root of your project:</p>

<pre>
<code>
amplify add api

? Please select from one of the below mentioned services: GraphQL
? Provide API name: notesapp
? Choose the default authorization type for the API: API Key
? Enter a description for the API key: demo
? After how many days from now the API key should expire: 7 (or your preferred expiration)
? Do you want to configure advanced settings for the GraphQL API: No, I am done.
? Do you have an annotated GraphQL schema?  No
? Do you want a guided schema creation?  Yes
? What best describes your project: Single object with fields
? Do you want to edit the schema now? Yes
</code>
</pre>

<p>Open the GraphQL schema in your text editor: <strong>amplify/backend/api/myapi/schema.graphql</strong> and update the file with the following schema:</p>

<pre>
<code>
type Note @model {
  id: ID!
  name: String!
  description: String
}
</code>
</pre>

<p>Same the file, then go back to the terminal and hit enter to complete the API configuration step.</p>

<h3>Deploy the API</h3>

<p>Deploy the API: <code>amplify push --y</code></p>

<p>The deploy command above will create the AppSync API, create a DynamoDB table, create the local GraphQL operations in a folder located at "src/graphql" that we can use to query the API.</p>

<p>To view the GraphQL API, run:</p>

<pre>
<code>
amplify console api

&gt; Choose GraphQL
</code>
</pre>

<p>To view the Amplify app, run <code>amplify console</code></p>


<h3>Write front-end code to interact with the API</h3>

<p>Now that the back-end has been deployed, we can write some code that will allow users to create, list and delete notes. Update <strong>src/App.js</strong> with the following code:</p>

<pre>
<code>
import React, { useState, useEffect } from 'react';
import './App.css';
import { API } from 'aws-amplify';
import { withAuthenticator, AmplifySignOut } from '@aws-amplify/ui-react';
import { listNotes } from './graphql/queries';
import { createNote as createNoteMutation, deleteNote as deleteNoteMutation } from './graphql/mutations';

const initialFormState = { name: '', description: '' }

function App() {
  const [notes, setNotes] = useState([]);
  const [formData, setFormData] = useState(initialFormState);

  useEffect(() =&gt; {
    fetchNotes();
  }, []);

  async function fetchNotes() {
    const apiData = await API.graphql({ query: listNotes });
    setNotes(apiData.data.listNotes.items);
  }

  async function createNote() {
    if (!formData.name || !formData.description) return;
    await API.graphql({ query: createNoteMutation, variables: { input: formData } });
    setNotes([ ...notes, formData ]);
    setFormData(initialFormState);
  }

  async function deleteNote({ id }) {
    const newNotesArray = notes.filter(note =&gt; note.id !== id);
    setNotes(newNotesArray);
    await API.graphql({ query: deleteNoteMutation, variables: { input: { id } }});
  }

  return (
    &lt;div className="App"&gt;
      &lt;h1&gt;My Notes App&lt;/h1&gt;
      &lt;input
        onChange={e =&gt; setFormData({ ...formData, 'name': e.target.value})}
        placeholder="Note name"
        value={formData.name}
      /&gt;
      &lt;input
        onChange={e =&gt; setFormData({ ...formData, 'description': e.target.value})}
        placeholder="Note description"
        value={formData.description}
      /&gt;
      &lt;button onClick={createNote}&gt;Create Note&lt;/button&gt;
      &lt;div style="marginBottom: 30"&gt;
        {
          notes.map(note =&gt; (
            &lt;div key={note.id || note.name}&gt;
              &lt;h2&gt;{note.name}&lt;/h2&gt;
              &lt;p&gt;{note.description}&lt;/p&gt;
              &lt;button onClick={() =&gt; deleteNote(note)}&gt;Delete note&lt;/button&gt;
            &lt;/div&gt;
          ))
        }
      &lt;/div&gt;
      &lt;AmplifySignOut /&gt;
    &lt;/div&gt;
  );
}

export default withAuthenticator(App);
</code>
</pre>

<p>There are three main functions in our app:</p>

<ul>
  <li>fetchNotes - uses the API class to send a query to the GraphQL API and retrieve a list of notes.</li>
  <li>createNote - uses the API class to send a mutation to the GraphQL API. The main difference is that in this function we're passing in the variables needed for a GraphQL mutation so that we can create a new note with the form data.</li>
  <li>deleteNote - Like createNote, this function is sending a graphQL mutation along with some variables, but instead of creating a note we're deleting a note.</li>
</ul>

<h3>Run the app</h3>

<code>npm start</code>


<h2>Add Storage</h2>

<h3>Create the storage service</h3>

<p>To add image storage functionality, we'll use the Amplify storage category:</p>

<pre>
<code>
amplify add storage

? Please select from one of the below mentioned services: Content
? Please provide a friendly name for your resource that will be used to label this category in the project: imagestorage
? Please provide bucket name: your-unique-bucket-name
? Who should have access: Auth users only
? What kind of access do you want for Authenticated users? create, read, update, delete
? Do you want to add a Lambda Trigger for your S3 Bucket? N
</code>
</pre>

<h3>Update the GraphQL schema</h3>

<p>Open <strong>amplify/backend/api/notesapp/schema.graphql</strong> and update it with (save when done):</p>

<pre>
<code>
type Note @model {
  id: ID!
  name: String!
  description: String
  image: String
}
</code>
</pre>

<h3>Deploy storage service and API updates</h3>

<code>amplify push --y</code>

<h3>Update the React app</h3>

<p>Open <strong>src/App.js</strong> and add the Storage class to our Amplify imports:</p>

<code>import { API, Storage } from 'aws-amplify';</code>

<p>In the main App function, create a new onChange function to handle the image upload:</p>

<pre>
<code>
async function onChange(e) {
  if (!e.target.files[0]) return
  const file = e.target.files[0];
  setFormData({ ...formData, image: file.name });
  await Storage.put(file.name, file);
  fetchNotes();
}
</code>
</pre>

<p>Update the fetchNotes funciton to fetch an image if there is an image associated with a note:</p>

<pre>
<code>
async function fetchNotes() {
  const apiData = await API.graphql({ query: listNotes });
  const notesFromAPI = apiData.data.listNotes.items;
  await Promise.all(notesFromAPI.map(async note => {
    if (note.image) {
      const image = await Storage.get(note.image);
      note.image = image;
    }
    return note;
  }))
  setNotes(apiData.data.listNotes.items);
}
</code>
</pre>

<p>Update the createNote funciton to add the image to the local image array if an image is associated with the note:</p>

<pre>
<code>
async function createNote() {
  if (!formData.name || !formData.description) return;
  await API.graphql({ query: createNoteMutation, variables: { input: formData } });
  if (formData.image) {
    const image = await Storage.get(formData.image);
    formData.image = image;
  }
  setNotes([ ...notes, formData ]);
  setFormData(initialFormState);
}
</code>
</pre>

<p>Add an additional input to the form in the return block:</p>

<pre>
<code>
&lt;input
  type="file"
  onChange={onChange}
/&gt;
</code>
</pre>

<p>When mapping over the notes array, render an image if it exists:</p>

<pre>
<code>
{
  notes.map(note =&gt; (
    &lt;div key={note.id || note.name}&gt;
      &lt;h2&gt;{note.name}&lt;/h2&gt;
      &lt;p&gt;{note.description}&lt;/p&gt;
      &lt;button onClick={() =&gt; deleteNote(note)}&gt;Delete note&lt;/button&gt;
      {
        note.image && &lt;img src={note.image} style={width: 400} /&gt;
      }
    &lt;/div&gt;
  ))
}
</code>
</pre>

<h3>Run the app</h3>

<code>npm start</code>

<p>We have:</p>

<ul>
  <li>Deployed an application using AWS Amplify</li>
  <li>Added authentication to our app allowing users to sign-up, sign-in and manage their account.</li>
  <li>Added a scalable GraphQL API configured with an Amazon DynamoDB database allowing users to create and delete notes.</li>
  <li>Added file storage using Amazon S3 which allows users to upload images and view them in their app.</li>
</ul>

<h2>Deleting Resources</h2>

<p>Remove individual services:</p>

<pre>
<code>
amplify remove auth
amplify push
</code>
</pre>

<p>To delete the entire project: <code>amplify delete</code></p>
