<p>Ruby has a really cool feature where you can add code that only runs when it's enclosing file is run directly (as opposed to being run from a different code or test file that requires it). All you need to do is wrap the optional code in the following block:</p>

<pre>
<code>
if__FILE__==$0
  # Your optional code here
end
</code>
</pre>

<p>I like to use this as an opportunity to add usage examples to demonstrate the functionality of the main code. For example, the main code in my "project.rb" class file is:</p>

<pre>
<code>
  class Project
  attr_reader :name, :purpose, :dependencies

  def initialize(name = "Project", purpose = "No purpose")
    @name = name
    @purpose = purpose
    @dependencies = []
  end

  def add_dependency(dependency)
    @dependencies &lt;&lt; dependency
  end

  def remove_dependency(dependency)
    @dependencies.delete(dependency)
  end
end
</code>
</pre>

<p>While it's fairly easy to figure out what's going on with this class, it's a little more difficult to imagine it working in the context of a real-world program. The usage examples at the bottom of the file bring it to life, which makes it easier to understand why you might want to use it, and how it can be adapted to your own purposes.</p>

<pre>
<code>
# Run usage examples only when current file is run directly
if __FILE__==$0

  # ----- Example Data -----

  name = "Knit a bear"
  purpose = "Birthday gift"
  dependencies = ["Knitting Pattern", "Yarn", "Pizza"]

  # ----- Usage Examples -----

  # ✨ Create new project with a name and purpose
  bear_project = Project.new(name, purpose)

  dependencies.each do |dependency|
    # ✨ Add a project dependency
    bear_project.add_dependency(dependency)
  end

  # ✨ Remove project dependencies
  bear_project.remove_dependency("Pizza")

  # ----- Expected Output -----

  puts bear_project.name # =&gt; Knit a bear
  puts bear_project.purpose # =&gt; Birthday Gift
  puts bear_project.dependencies # Knitting Pattern\nYarn
end
</code>
</pre>

<p>When you run the project.rb file directly (<code>ruby project.rb</code>), you should get the following output:</p>

<pre>
<code>
Knit a bear
Birthday Gift
Knitting Pattern
Yarn
</code>
</pre>

<p>When you run a file that requires and uses the project.rb file (e.g. <code>ruby project_spec.rb</code> or <code>ruby roadmap.rb</code>. Then the usage examples won't run and you won't see the above output in the console.</p>

