<p>We had a meeting at work today that was filled with lots of good gold nuggety wisdom. We learned a lot, and I captured most of it in the notes below (an email I sent after the meeting). <strong>The comments in bold were edits made by M (who introduced us to all of this awesome stuff)</strong>.</p>

<p>Heyy everyone, I just wrote up the meeting notes from today, and wrote a list of actions (todos) that we can take to implement it while it's all still fresh. I think it'll be better for us all to do this together, but not sure when would be the best time.</p>

<p>I've added all of this to the slack marketing channel if anyone wants to add their own thoughts/modifications.</p>

<p>Have a great weekend, and thank you M for taking us through all of this, so many lightbulb moments.</p>

<hr>

<p>(Todo list at the end of this email)</p>

<p>A meeting with MC, involving, me, D and A.</p>

<h2>Value-driven slogan</h2>

<p>1. Nikes slogan is "Just do it" which has nothing to do with what they actually do (make sports gear), or the kind of audience who buys their stuff (athletes working out, or elderly people doing zumba in their trainers). A slogan should:</p>

<ul>
  <li>Not be about what you do</strong>, it's about who you are (as an organisation).</li>
  <li>be strongly tied to your belief system and</li>
  <li>offer an opportunity to tell a story about your value, that can then tie in what you do. Emotive impact.</li>
</ul>

<p>On a website, you can have your brand name, and your slogan. Then 2-3 paragraphs explaining why you believe in those values, <strong>passions</strong> (doesn't have to be directly related to what you do).<p>

<p>Then in the next paragraph you craft a problem statement that frames the challenge you seek to solve in a non-controversial way -- everyone immediately agrees.</p>

<p>Answer the question: What is the special thing that only YOU do, that your customers would miss out on if you never existed? <strong>In some way, the should "flow" from your brand (belief system and who you are)</strong></p>

<p>Think about not from the perspective of the individual you want to attract, but the company you want to attract.</p>

<h2>Pitch advice</h2>

<p>When making a pitch, think about the kind of people who will be in the room with you, it often won't be the people on the ground floor. <strong>(the audience/personas)</strong></p>

<p>Come up with 30 <strong>or as many as you can</strong> different value propositions, and pick 2 that you think will really strike a cord with <strong><strike>your audience</strike> each persona e.g., what is relevant to the Exec Chef, what is important to the QA Manager, etc</strong>.</p>

<p>Craft those into tangible and specific problem statements <strong>and solution</strong>. If there will be multiple audiences in the room (e.g. CFO, CTO, etc), drop in a short (but well-crafted) value proposition for each of them, and look at the right audience member when you say the specific value proposition that was crafted for them. If one person cares about money and the other cares about reputation, think about an example that covers both cases in a tangible way. E.g. preventing litigation cases by better practice puts a number (monetary value) next to both finances and reputation.</p>

<p>There's always going to be a time when someone just doesn't want what you do, no matter how good or relevant your value propositions are.</p>

<h2>Player Mapping</h2>

<p>Try and sketch out an organisational chart as quickly as possible. Capture the seniority hierarchy, who reports to who. Identify the key players and the relationships between them.</p>

<ul>
  <li>the player is someone who understands the politics of the organisation and can make things happen.</li>
  <li>The competitor is someone who wants to you to fail because they see you as a threat.</li>
  <li>The champion is someone who will do anything in their power to help you succeed.</li>
  <li>The pen mover is the person who can sign off and buy your product/services, the buyer though is responsible for weighing up the benefit of making the purchase before it goes to the sign off person.</li>
  <li>The source will tell you anything off the record, but make sure to verify in case of negative intentions, look for the source who believes that your product or service will benefit, but there is some kind of obstacle (like bureaucracy) preventing it.</li>
  <li>The big picture guy knows whats going on and why, not just the small parts that are relevant to them.</li>
</ul>

<p>A ground worker might have a direct relationship to the player, and therefore be able to influence politics at a higher level.</p>

<p>Understanding the player map helps you figure out who are the best people to talk to, and save time potentially wasting time.</p>

<p>Only make a player map once you have access to them.</p>

<p><strong>Your voice: Your website and other material contains both informal (casual) and formal language. Decide which voice and always be professional i.e., casual and professional or formal and professional. But never unprofessional. Consider the “style” of the owner (D) or organization and see how you want that to translate. In almost all cases you have to modify your style to suit the occasion or the persona that you are talking to. But choose the main style and be consistent.</strong></p>

<p></strong>Example of casual versus formal is “make more money versus improve profitability”, or “save money versus cost optimization”</strong></p>

<hr>

<h2>Action steps:</h2>

<h3>Come up with a slogan / <strong>brand</strong></h3>

<ul>
  <li><input type="checkbox">Brainstorm values that we think best represent QA Chef, and narrow them down to 1-3.</li>
  <li><input type="checkbox">Come up with 10 slogan ideas for each of our top value ideas (10-30).</li>
</ul>

<h3>Audience:</h3>

<ul>
  <li><input type="checkbox">Who are the different audience types have we already encountered in Stix, SoupedUp, Disney etc.</li>
  <li><input type="checkbox">Are there any missing that we think we might encounter?</li>
</ul>

<h3>Value propositions</h3>

<ul>
  <li><input type="checkbox">Come up with 30 value propositions, and pick the top two that we think will resonate with each audience member group we think we are most likely to pitch to.</li>
  <li><input type="checkbox">Turn our chosen value propositions into well-crafted statements.</li>
</ul>

<h3>Player map.</h3>

<ul>
  <li><input type="checkbox">Depending on how the meeting with J and S goes today, start working out a player map (we know j makes financial decisions and is a bridge to S, the big picture guy?)</li>
</ul>
