<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ page.title }}</title>
    <meta name="author" content="author here">
    <meta name="description" content="{{ page.description }}">
    <meta name="keywords" content="{{ page.tags }}">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.png' | relative_url }}">
    {% if jekyll.environment == 'production' %}
      {% include analytics.html %}
    {% endif %}
  </head>
  <body>

    {% include header.html %}

    {{ content }}

    {% include footer.html %}
  </body>
</html>
