---
layout: default
---

{% include landing-intro1.html %}

<article class="post">

<img src="/assets/images/qachef/{{page.featured-image}}" alt="{{page.featured-alt}}">

<h1>{{ page.title }}</h1>

{{ content }}

</article>

<script src="{{ site.baseurl }}/assets/js/markdown-checkbox.js"></script>
